APP_NAME="GFC 2026"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://gfc.trugroup.cm

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=trugro9159_gfc
DB_USERNAME=trugro9159_gfc
DB_PASSWORD=fxTach7b#C?s

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost,127.0.0.1,gfc.trugroup.cm
SESSION_DOMAIN=.trugroup.cm

CORS_ALLOWED_ORIGINS="http://gfc.trugroup.cm,http://localhost:5173"
